body {
  background-color: #000000;
  font: small-caps bold 20px Arial, serif;
  color: #ddddff;
  margin: 0;
  width:100vw;
  height:100vh;
  box-shadow:
  inset 0 0 25px #fff,      /* inner */
  inset 10px 0 40px #0ff,   /* inner left short */
  inset -10px 0 40px #0ff,  /* inner right short */
  inset 10px 0 150px #f0f,  /* inner left broad */
  inset -10px 0 150px #0ff; /* inner right broad */
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

#popup{
  background-color: black;
  border-radius:10px;
  height: 200px;
  width: 200px;
  top: 50%;
  left: 50%;
  margin-top: -100px;
  margin-left: -100px;
  position: absolute;
  box-shadow:0 0 50px #fff,
  -5px 0 40px #f0f,
  5px 0 40px #0ff;
}

form{
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.slider{
  background-color: #f0f;
}

.hide{
  display:none;
}

/* begin link stuff */
a {
  text-decoration: none;
  color: #ddddff;
}
a.glow, a.glow:hover, a.glow:focus
{
	text-decoration: none;
	color: #eee;
	text-shadow: none;
	-webkit-transition: 300ms linear 0s;
	-moz-transition: 300ms linear 0s;
	-o-transition: 300ms linear 0s;
	transition: 300ms linear 0s;
	outline: 0 none;
}
a.glow:hover, a.glow:focus
{
	color: #000;
	text-shadow: -1px 1px 8px #ffc, 1px -1px 8px #fff;
}
.textshadow a.backlit:hover, .textshadow a.backlit:focus
{
	color: #336;
}
/* end link stuff */

#fizzy_box{
  box-shadow:0 0 50px #fff,
  -5px 0 40px #f0f,
  5px 0 40px #0ff;
  height: 80vh;
  width: 60vw;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 0;
}

.container{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  height: 99vh;
  width: 99vw;
}
.superman{
  clip-path: polygon(20% 20%, 80% 20%, 100% 50%, 50% 100%, 0% 50%);
  height: 3vw;
  width: 3vw;
  box-shadow: inset 0 0 25px #fff,
  inset 10px 0 40px #f0f,
  inset -10px 0 40px #0ff,
  inset 10px 0 150px #f0f,
  inset -10px 0 150px #0ff;
}

#title{
  font-size: 9vh;
  font-weight: bolder;
  text-shadow:
    0 0 50px #fff,
    -5px 0 40px #f0f,
    5px 0 40px #0ff;
}

#bottom{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  height: 8vh;
  width: 60vw;
}
/*
.right{
  transform: rotate(-0.25turn);
}
div.right:hover {
  transform: translateY(-10px) rotate(-0.25turn);
}

.left{
  transform: rotate(0.25turn);
}
div.left:hover {
  transform: translateY(-10px) rotate(0.25turn);
}*/

.Fuzzy_Item{

}
